requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
pandas==2.2.0
python-dotenv==1.0.1
schedule==1.2.1
psycopg2-binary==2.9.9
sqlalchemy==2.0.27
urllib3==2.1.0
html5lib==1.1
openpyxl==3.1.2
PyPDF2==3.0.1
tabula-py==2.9.0
pdfplumber==0.11.0
